/* I would normally make two css files, but you asked for one */

* {
    margin: 0px;
    padding: 0px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
body{
    background-color: #fffddd;
}

.profile-pic{
    box-shadow: 2px 2px 1px black;
}

/*Button Styling */

a:link {
    text-decoration: none;
}
.header-button:hover, .footer-button:hover{
    background-color: #555;
}

/* Header Styling */
header{
    position: fixed;
    width: 100%;
}

/*Navbar Styling*/
.nav-bar{
    display: inline-flex;
    height: 40px;
    width: 100%;
    justify-content: center;
    background-color: #222;
}
.nav-bar * {
    font-size: 1.25em;
}

.nav-bar a {   /*Vertical centering of buttons */
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fffddd;
    height: 100%;
}

.icon{
    display:inline-block; 
    box-sizing: border-box;
    padding: 5px;
    height:40px;
    width: 40px;
}



/* Main Styling */

main{
    padding-top: 40px; /* Padding for top nav bar */
    min-height: 100vh;
}
.grid-name h1{
    font-size: 3em;
}

@media screen and (max-width: 800px ){ /* Display mobile mode if small enough */
    #layout-container{
        display: flex;
        flex-direction: column;
    }
    
    .grid-picture{
        flex: 1;
        order: 1;
        width: 100vw;
    }
    .grid-name{
        padding: 10px;
        flex: 1;
        order: 2;
    }

    .grid-info{
        padding: 10px;
        margin: 10px;
        flex: 1;
        order: 3;
    }

    .grid-bio{
        padding: 10px;
        flex: 1;
        order: 4;
    }
    
}


@media screen and (min-width: 801px){ /*  Display desktop version otherwise*/
    #layout-container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr 1fr 1fr 3fr;
        grid-gap: 5%;
        align-items: start;
    }
    .grid-picture{
        grid-column: 1/6;
        grid-row:1/4;
        width: 100%;
    }
    .grid-info{
        padding: 10px;
        grid-column: 6/12;
        grid-row: 2;
    }
    .grid-name{
        padding: 10px;
        grid-column: 6/12;
        grid-row: 1;
    }
    .grid-bio{
        padding: 10px;
        grid-column: 1/12;
        grid-row: 4;
    }

}



/* Footer styling */
footer{
    margin-top: 50px;
    background-color: #222;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottom-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80%;
}
figcaption{
    text-align: center;
}
.bottom-nav * {
    padding-top: 3px;
    padding-bottom: 3px;
    flex: 1;
    background-color: #222;
    color:  #fffddd;
    text-align: center;
}




/* Photo Layout Styling for Gallery */
@media screen and (max-width: 800px){  /*Mobile Layout */
    .photo-grid{
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
    }

    .photo-grid * {
        margin-top: 20px;
        flex: 1;
        width: 100%;
    }

    #gallery-header{
        font-size: 2.5em;
    }

}

@media screen and (min-width: 801px){  /*Desktop Layout */
    .photo-grid{
        padding: 5px;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;
    }

    .photo-grid * {
        width: 100%;
    }

    .photo-grid * img {
        box-shadow: 2px 2px 1px black;
    }

    
    #gallery-header{
        font-size: 2.5em;
    }
}

