* {
    margin: 0px;
    padding: 0px;
}

a:link {
    text-decoration: none;
}
a:hover{
    background-color: #555;
}

figcaption{
    text-align: center;
}

header{
    position: fixed;
    width: 100%;
}

body{
    background-color: #fffddd;
}

/* Display mobile mode if iphone x size or smaller */
@media screen and (max-width: 800px ){
    #layout-container{
        display: flex;
        flex-direction: column;
    }
    
    .grid-picture{
        flex: 1;
        order: 1;
        width: 100vw;
    }
    .grid-name{
        padding: 5px;
        flex: 1;
        order: 2;
    }
    .grid-info{
        padding: 5px;
        flex: 1;
        order: 3;
    }

    .grid-bio{
        padding: 5px;
        flex: 1;
        order: 4;
    }

    img{
        border-bottom-style: solid;
        border-color: black;
        border-width: 1px;
    }
    
}

/*  Display desktop version otherwise*/
@media screen and (min-width: 801px){
    #layout-container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr 1fr 1fr 3fr;
        grid-gap: 5%;
        align-items: start;
    }
    .grid-picture{
        grid-column: 1/6;
        grid-row:1/4;
        width: 100%;
    }
    .grid-info{
        grid-column: 6/12;
        grid-row: 2;
    }
    .grid-name{
        grid-column: 6/12;
        grid-row: 1;
    }
    .grid-bio{
        padding: 5px;
        grid-column: 1/12;
        grid-row: 4;
    }

    img{
        border-right-style: solid;
        border-bottom-style: solid;
        border-color: black;
        border-width: 1px;
    }
}

.nav-bar{
    display: inline-flex;
    height: 40px;
    width: 100%;
    align-items: center;
}

.nav-bar > * {
    background-color: #222;
    color: #fffddd;
    flex: 1;
    height: 100%;
    text-align: center;
}


main{
    padding-top: 40px; /* Padding for top nav bar */
    min-height: 100vh;
}



footer{
    background-color: #222;
    width: 100%;
    padding: 10px;
}

.bottom-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80%;
}

.bottom-nav * {
    padding-top: 5px;
    flex: 1;
    background-color: #222;
    color:  #fffddd;
    text-align: center;
}

@media screen and (min-width: 801px){
    .photo-grid{
        padding: 5px;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;
    }

    .photo-grid * {
        width: 100%;
    }

}

